<nav>
    <ul style="display: flex; justify-content: center; list-style-type: none; padding: 0;">
        <li><a href="{% url 'core:index' %}"><button>Home</button></a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'nominas:empleado_list' %}"><button>Legajos</button></a></li>
            <li><a href="{% url 'nominas:novedad_list' %}"><button>Novedades</button></a></li>
            <li><a href="{% url 'nominas:liquidacion_list' %}"><button>Liquidaciones</button></a></li>
            <li><a href="{% url 'core:about' %}"><button>About</button></a></li>
            <li><a href="{% url 'core:profile' %}"><button>{{ user.username }}</button></a></li>
            <li><a href="{% url 'core:register' %}"><button>Crear Usuario</button></a></li>
            <li>
                <form action="{% url 'core:logout' %}" method="post" style="margin: 0; display: inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'core:login' %}"><button>Login</button></a></li>
        {% endif %}
    </ul>
</nav>


