{% extends 'core/base.html' %}

{% block header %}
Empleados: Registros
{% endblock header %}

{% block main %}
    <form action="{% url 'empleado_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
        <button>
            <a href="{% url 'empleado_create' %}">Nuevo Legajo</a>
        </button>
    </form>
    <ul>
       {% for object in object_list %}
            <li>{{ object.nro_legajo }}, {{ object.nombre_empleado }}, {{ object.apellido_empleado }}
                <a href="{% url 'empleado_detail' object.nro_legajo %}">Ver Legajo</a>
                <a href="{% url 'empleado_update' object.nro_legajo %}">Modificar</a>}
                <a href="{% url 'empleado_delete' object.nro_legajo %}">Eliminar</a>}               
            </li>
    {% empty %}
        <p>No hay registros.</p>
    {% endfor %}
    <ul>
{% endblock main %}
