{% extends 'core/base.html' %}

{% block header %}
Liquidaciones: Registro
{% endblock header %}

{% block main %}
    <form action="{% url 'liquidacion_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    <button>
        <a href="{% url 'liquidacion_create' %}">Nueva Liquidacion</a>
    </button>
    {% for object in object_list %}
        <p> {{ object }}
            <a href="#">Recibo</a>
        </p>
    {% empty %}
    <P>No hay registros.</P>    
    {% endfor %}
{% endblock main %}