{% extends 'core/base.html' %}

{% block header %}
Novedad: Registro
{% endblock header %}

{% block main %}
    <form action="{% url 'novedad_list' %}" method="get">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    <button>
        <a href="{% url 'novedad_create' %}" style="text-decoration:none;">
            <button type="button">Nueva novedad</button>
        </a>
    </button>

    <ul>
        {% for object in object_list %}
            <li>{{ object.empleado.nro_legajo }}, {{ object.empleado.nombre_empleado }}, {{ object.empleado.apellido_empleado }}, {{ object.fecha }}
                <a href="{% url 'novedad_detail' object.id %}">Ver novedad</a>
                <a href="{% url 'novedad_update' object.id %}">Modificar</a>
                <a href="{% url 'novedad_delete' object.id %}">Eliminar</a>               
            </li>
        {% empty %}
            <p>No hay registros.</p>
        {% endfor %}
    </ul>    
{% endblock main %}