{% extends 'core/base.html' %}

{% block header %}
    Login
{% endblock header %}

{% block main %}
    <h2>Iniciar Sesión</h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label }} 
            {{ form.username }} 
        </div>
        <div class="form-group">
            {{ form.password.label }}  
            {{ form.password }}
        </div>
        <button type="submit" class="btn">Iniciar Sesión</button>
    </form>
{% endblock main %}
